<div class="event">
  <div class="content">
    <div class="summary">
    <span class="chat-usernames"><%= message.user.username %>:</span>
    <p><%= message.body %></p>
    <small><%= message.created_at.strftime("%b %e, %l:%M %p") %></small>
  </div>
</div>
</div>
