<div class="event">
  <div class="content fade-in-text">
    <div class="summary  ">
    <span class="chat-usernames"><%= message.user.username %>:</span>
    <class="chat-text"><%= message.body %>
    <br>
    <small><%= message.created_at.strftime("%b %e, %l:%M %p") %></small>
  </div>
</div>
</div>
