<div class="event">
  <div class="content">
    <div class="summary">
    <strong><%= message.user.username %>:</strong>
    <p><%= message.body %></p>
    <small><%= message.created_at %></small>
  </div>
</div>
</div>
