@import 'semantic-ui';

.chatbox {
    height: 450px ;
}

.bg-gray {
  border-color:#a59457;
  background-color: #1B1C1D;
  color: white;
}

.interface {
  border-color:#a59457 ;
  background-color: black ;
  color: white ;
}

#messages {
  height: 15em ;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}
