@import 'semantic-ui';

h3, h2, h1{
    font-family: 'Exo 2', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.ui.small.menu {
    font-size: 0.92857143rem;
    color: white;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.1);
  }

.ui.menu .item {
  color: rgba(255, 255, 255, 0.8);
}

.appbackground {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 300s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.padding_sides {
  padding-left: 150px;
  padding-right: 150px;
}

.featured-content {
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.summary {
  color: white !important;
}

.pane {
  color:white;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 13px;
  background-color:rgba(0, 0, 0, 0.1);

}

.transparent_background {
  background: rgba(76, 175, 80, 0);
}

.chatbox {
    height: 450px ;
}

.bg-gray {
  border-color:#a59457;
  background-color: #1B1C1D;
  color: white;
}

.interface {
  border-color:#a59457 ;
  background-color: black ;
  color: white ;
}

.chat-usernames {
  font-family: 'Montserrat', sans-serif;
  color: cyan ;
  font-size: 1.1em;
  font-weight: bold;
}

#messages {
  font-family: 'Montserrat', sans-serif;
  height: 15em ;
  overflow: auto;
  color: white;
}

.input {
  button {
    display: none;
  }
}

.ui.card,
.ui.cards>.card {
  color: #FFF ;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.1);
  border: 0;
}
