@import 'semantic-ui';

.appbackground {
  background: rgb(117,166,119);
  background: -moz-linear-gradient(165deg, rgba(117,166,119,1) 0%, rgba(3,36,0,1) 48%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(165deg, rgba(117,166,119,1) 0%, rgba(3,36,0,1) 48%, rgba(0,0,0,1) 100%);
  background: linear-gradient(165deg, rgba(117,166,119,1) 0%, rgba(3,36,0,1) 48%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75a677",endColorstr="#000000",GradientType=1);
}

.pane {
  color:white;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 13px;
  background-color:rgba(0, 0, 0, 0.1);

}

.transparent_background {
  background: rgba(76, 175, 80, 0);
}

.chatbox {
    height: 450px ;
}

.bg-gray {
  border-color:#a59457;
  background-color: #1B1C1D;
  color: white;
}

.interface {
  border-color:#a59457 ;
  background-color: black ;
  color: white ;
}

#messages {
  height: 15em ;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}

.ui.card,
.ui.cards>.card {
  color: white ;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.1);
  border: 0;
}
